<div class="grid-container">
  <h1 class="mat-h1">Scannez vos déchets</h1>

  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Déposez les photos que vous désirez scanner :</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="container" appDragAndDrop (fileDropped)="onFileDropped($event)">
          <input type="file" id="fileDropRef" multiple (change)="fileBrowseHandler($any($event.target).files)" />
          <mat-icon class="file">drive_folder_upload</mat-icon>
          <h3>Glissez/déposez vos photos ici</h3>
          <h3>Ou</h3>
          <label for="fileDropRef">Importez vos photos</label>
        </div>

        <div class="files-list">
          <div class="single-file" *ngFor="let file of files; let i = index">
            <mat-icon class="file">upload_file</mat-icon>
            <div class="info">
              <h4 class="name">
                {{ file?.name }}
              </h4>
              <p class="size">
                {{ formatBytes(file?.size) }}
              </p>
              <app-progress-bar [progress]="file?.progress"></app-progress-bar>
            </div>

            <div class="delete" (click)="deleteFile(i)">
              <mat-icon>delete_forever</mat-icon>
            </div>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Valider</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
