<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <mat-grid-list [cols]="nbColonnes" rowHeight="200px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">

      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content" [ngSwitch]="card.content">
            <app-nb-scans-chart *ngSwitchCase="'nbScansChartComponent'"></app-nb-scans-chart>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>
