<div class="login-container">
    <form [formGroup]="form" class="login-form">
      <h1 class="form-title">Modification de mot de passe</h1>

      <div class="form-group">
        <mat-form-field style="width: 100%;">
          <mat-label>Password</mat-label>
          <input matInput autocomplete="on" formControlName="password" [type]="hidePassword ? 'password' : 'text'" [pattern]="patternPassword">
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            Saisissez un mot de passe.
          </mat-error>
          <mat-error *ngIf="form.controls['password'].hasError('pattern')">
            Saisissez un mot de passe contenant au moins : (8 caractères, 1 majuscule, 1 minuscule, 1 caractère spécial, 1 chiffre).
          </mat-error>

            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="width: 100%;">

          <mat-label>Confirm Password</mat-label>
          <input matInput autocomplete="on" formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" [pattern]="patternPassword">
          <mat-error *ngIf="form.controls['confirmPassword'].hasError('required')">
            Saisissez un mot de passe.
          </mat-error>
          <mat-error *ngIf="form.controls['confirmPassword'].hasError('pattern')">
            Saisissez un mot de passe contenant au moins : (8 caractères, 1 majuscule, 1 minuscule, 1 caractère spécial, 1 chiffre).
          </mat-error>

            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" type="button">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" class="btn btn-primary" (click)="onSubmit()">Valider</button>
      <div style="display: flex; margin-top: 12px;">
      </div>
    </form>
</div>
