<mat-card>
  <mat-card-title>Bienvenue !</mat-card-title>
  <mat-card-content>
    <p>Notre monde est confronté à des défis environnementaux importants, mais il est possible de faire
      des changements positifs en prenant des mesures concrètes dans notre vie quotidienne. C'est
      pourquoi nous avons développé un système innovant qui permet, à vous utilisateurs, de scanner vos
      déchets et de gagner des points en échange de récompenses.</p>

    <p>Notre scanner de déchets est facile à utiliser et permet de trier les déchets en quelques secondes
      seulement. Il est capable de détecter différents types de matériaux, comme le papier, le plastique, le
      métal, les matières organiques et autres. Chaque fois que vous utilisez notre scanner, vous gagnez
      des points qui peuvent être échangés contre des récompenses telles que des bons d'achat, des
      cadeaux ou même des vacances écologiques.</p>

    <p>Notre système de points et de récompenses est conçu pour inciter les gens à adopter de meilleures
      habitudes de tri des déchets. En utilisant notre scanner de déchets, vous pouvez contribuer à la
      réduction de notre empreinte écologique tout en bénéficiant de récompenses qui vous feront sourire.</p>

    <p>Nous croyons que la technologie peut jouer un rôle clé dans la lutte contre la pollution et nous
      sommes fiers de vous offrir un système qui permet de faire des changements positifs tout en étant
      récompensé. N'hésitez pas à nous contacter pour plus d'informations sur notre scanner de déchets et
      comment il peut vous aider à protéger l'environnement tout en profitant des récompenses.</p>

    <img class="logo" alt="logo" src="assets/logo_trashinator.png">

    <button mat-raised-button color="primary" routerLink="/dashboard">Commencer</button>
  </mat-card-content>
</mat-card>
