<div class="login-container">
    <form [formGroup]="form" class="login-form">
      <h1 class="form-title">Login</h1>
      <div class="form-group">
        <mat-form-field style="width: 100%;">
          <mat-label>Username</mat-label>
          <input matInput autocomplete="on" formControlName="username">
          <mat-error *ngIf="form.controls['username'].hasError('required')">
            Saisissez votre nom d'utilisateur
          </mat-error>
        </mat-form-field>    
      </div>
      <div class="form-group">
        <mat-form-field style="width: 100%;">
          <mat-label>Password</mat-label>
          <input matInput autocomplete="on" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            Saisissez votre mot de passe.
          </mat-error>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="Login()">Connexion</button>
      </div>
      <div style="display: flex;">
        <div>
          <p> Create an accout ? <a [routerLink]="['/sign-up']">Sign Up</a></p>
        </div>
        <div style="margin-left: 18.8%;">
          <a [routerLink]="['/']" >Forgot your password ? </a>
        </div>
      </div>
    </form>
</div>