<div class="login-container">
    <form class="login-form">
      <h1 class="form-title">Login</h1>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control">
      </div>
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Connexion</button>
    </form>
</div>