<div class="login-container">
    <form [formGroup]="form" class="login-form">
      <h1 class="form-title">Sign-up</h1>
      <div class="form-group">
        <mat-form-field style="width: 100%;">
          <mat-label>Username</mat-label>
          <input matInput autocomplete="on" formControlName="username">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="width: 100%;">
          <mat-label>Password</mat-label>
          <input matInput autocomplete="on" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="width: 100%;">
          <mat-label>Confirm Password</mat-label>
          <input matInput autocomplete="on" formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" type="button">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
      </div>
      <button type="button" class="btn btn-primary" (click)="Signup()">Sign-up</button>
    </form>
</div>