<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="edito">Accueil</a>
      <a mat-list-item routerLink="dashboard">Dashboard</a>
      <a mat-list-item routerLink="waste-form">Scanner ses déchets</a>
      <a mat-list-item routerLink="statistic-dashboard">Statistiques</a>
      <a mat-list-item routerLink="boutique">Boutique</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="!isLogged">Trashinator</span>
      <span *ngIf="isLogged">Trashinator - {{username}}</span>
      <div class="spacer"></div>
      <a routerLink="login" *ngIf="!isLogged">
        <img src="../../../assets/Logo_connect.png" alt="Avatar" class="avatar">
      </a>
      <div class="points" *ngIf="isLogged">0 Points</div>
      <div *ngIf="isLogged" (click)="disconnect()">
        <img src="../../../assets/Logo_connect.png" alt="Avatar" class="avatar">
      </div>
    </mat-toolbar>
    <!-- Différentes pages avec le routing -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
